:root {
    --text-font: "Roboto", sans-serif;
    --accent-color: #e90a8c;
    ;
}
  
body {
    width: 100%;
    height: 100%;
    font-family: var(--text-font);
    color: #555555;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
  
ul,
ol {
    margin: 0;
    padding: 0;
}
  
img {
    display: block;
}
  
.list {
    list-style: none;
}
  
.link {
    text-decoration: none;
}
  
.address {
    font-style: normal;
}
  
.section-padding {
    padding-top: 130px;
    padding-bottom: 130px;
}
  
.container {
    position: relative;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
  /*HEADER*/
.header {
    width: 100%;
    background: rgba(235, 162, 232, 0.6);
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
}
.navigation-list {
    margin-right: 60px;
    color: #ffffff;
}
.logo {
    margin-top: 20px;
    margin-right: 94px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.logotype {
    border-radius: 30%;
}
.navigation-link {
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
    color: #e90a8c;
}
.navigation-link:hover,
.navigation-link:focus {
    color: #555555;
}
.icon-phone {
    width: 22px;
    height: 22px;
    margin-right: 15px;
    fill: var(--accent-color);
}
.tel-link {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
    color: #e90a8c;
}
.main {
    width: 100%;
    height: 900px;
    background-image: url(../images/banners/576056834b82e1555051f0ed.jpg);
    background-size: 100% 900px;
}
.banners {
    width: 100%;
    height: 100%;
}
.baners-title {
    padding-top: 240px;
    font-family: var(--text-font);
    font-weight: 900;
    font-size: 65px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
}
.banners-btn {
    margin-top: 180px;
    margin-left: 480px;
    min-width: 300px;
    height: 70px;
    padding: 10px 28px 10px 29px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 24px;    
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.banners-btn:hover,
.banners-btn:focus {
    background-color: aqua;
    color: brown;
}
.footer {
    width: 100%;
    height: 140px;
    background: rgba(235, 162, 232, 0.6); 
}